<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Mixi Feed Checker</display-name>

	<filter>
		<filter-name>tokenFilter</filter-name>
		<filter-class>org.ikikko.MixiFeedCheckerFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>tokenFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>checker</servlet-name>
		<servlet-class>org.ikikko.MixiFeedCheckerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checker</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
